/* ........................common.........................  */
#force-black{
    color: #000000;
}
/* ........................common.........................  */

/* .....................................HOME PAGE........................................ */
.btn-red {
    color: white;
    background-color: #e43c5c;
}

#findDerections {
    display: none;  
}

#nearbyStations {
    display: none;
}

#specificBus {
    display: none;
}

/* .....................................HOME PAGE........................................ */

/* ................................NEARBY STATION PAGE................................... */
#map {
    height: 455px;
  }

  #floating-panel {
    position: absolute;
    top: 10px;
    left: 32%;
    z-index: 5;
    color: black;
    background-color: #e43c5c6b;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    line-height: 30px;
    /* padding-left: 10px; */
  }
/* ................................NEARBY STATION PAGE................................... */