<!-- load static  -->
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="description">
  <meta content="" name="keywords">
  <title>STS - Nearby Bus Stations</title>

  <!-- Favicons -->
  <link rel="icon" href="{% static 'accounts/assets/img/favicon.png' %}" type="image/gif" sizes="32x32">
  <link href="{% static 'accounts/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon"> 

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link href="{% static 'accounts/assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet"> 
  <link href="{% static 'accounts/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet"> 
  <link href="{% static 'accounts/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet"> 
  <link href="{% static 'accounts/assets/vendor/venobox/venobox.css' %}" rel="stylesheet"> 
  <link href="{% static 'accounts/assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet"> 

  <!-- Template Main CSS File -->
  <link href="{% static 'accounts/assets/css/custom.css' %}" rel="stylesheet"> <!-- CUSTOM --> 
  <link href="{% static 'accounts/assets/css/style.css' %}" rel="stylesheet">  

</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">
      <a href="{% url 'home' %}" class="mr-auto"><img src="{% static 'accounts/assets/img/logo.png' %}" width="150px" height="" alt="" class="img-fluid"></a>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a id="force-black" href="{% url 'home' %}">Home</a></li>
          <li><a id="force-black" href="{% url 'home' %}#services">Search</a></li>
          <li><a id="force-black" href="{% url 'home' %}#team">About</a></li>
          <li><a id="force-black" href="{% url 'home' %}#contact">Contact</a></li>
          {% if user.is_authenticated %}
                    <li style="color: #e43c5c;">Hi</li>
                    <!-- SignUP-Login Form -->
                    <li>
                        <button id="myBtn" type="button" class="btn btn-red" onclick="document.location='{% url 'logout' %}'">
                            Logout
                        </button>
                    </li>
                    
                {% else %}
                    <li>
                        <button id="myBtn" type="button" class="btn btn-red" onclick="document.location='{% url 'accounts' %}'">
                            SignUP/Login                      
                        </button>
                    </li>
                    <!-- SignUP-Login Form -->
                {% endif %}
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <main id="main">
     <!-- ======= Breadcrumbs ======= -->
   <section id="breadcrumbs" class="breadcrumbs">
          <div class="container">
            <h2><a href="{% url 'home' %}#services"><i class='bx bx-arrow-back'></i></a></h2>
          </div>
   </section><!-- End Breadcrumbs -->
   



<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container">

    <div class="section-title">
      
      <h3>All buses inside <span>Dhaka City</span></h3>
    </div>

    <div class="row content">
     
      <!-- ..................ADDED.................  -->
      <!-- ...............TABLE......................  -->
<input style="width: 30%;" id="myInput" type="text" class="form-group pull-left search form-control" placeholder="Search bus name / place name">

<table class="table table-striped table-bordered">
    <thead class="bg-success text-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Bus Name</th>
        <th scope="col">Start Point</th>
        <th scope="col">End Point</th>
      </tr>
    </thead>
    <tbody  id="myTable">
    {% for data in contex %}
      <tr>
        <th scope="row">{{ data.bus_id }}</th>
        <td>{{ data.bus_name }} <br><span style="color:#e43c5c">{{ data.routes }}</span></td>
        <td>{{ data.start }}</td>
        <td>{{ data.end }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
<!-- ...............TABLE......................  -->
      <!-- ..................ADDED.................  -->



    </div>
  </div>
</section><!-- End About Section -->
     
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container d-md-flex py-4">
      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>Smart Transport System</span></strong>. All Rights Reserved
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <!-- Vendor JS Files -->
  <script src="{% static 'accounts/assets//vendor/jquery/jquery.min.js' %}"></script>  
  <script src="{% static 'accounts/assets//vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script> 
  <script src="{% static 'accounts/assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script> 
  <script src="{% static 'accounts/assets/vendor/php-email-form/validate.js' %}"></script> 
  <script src="{% static 'accounts/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script> 
  <script src="{% static 'accounts/assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script> 
  <script src="{% static 'accounts/assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script> 
  
  <!-- Template Main JS File -->
  <script src="{% static 'accounts/assets/js/main.js' %}"></script>
  <script src="{% static 'accounts/assets/js/custom.js' %}"></script> 

</body>

</html>